In [7]:
from mplsoccer import Pitch,VerticalPitch
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import LinearSegmentedColormap

In [34]:
data = pd.read_csv('15min.csv')

In [35]:
data

     Team       Player    Event  Mins  Secs   X   Y  X2  Y2
0    Home      Heberty     Pass     0     2  54  51  57  90
1    Home           Do     Pass     0     2  57  90  33  83
2    Home    Putthinan     Pass     0     2  33  81  11  60
3    Home  Falkesgaard     Pass     0     2  10  59  11  86
4    Home    Putthinan     Pass     0     2  24  86  28  68
..    ...          ...      ...   ...   ...  ..  ..  ..  ..
177  Home    Putthinan     Pass    15    24  40  46  54  58
178  Away     Piyaphon  getball    15    24  56  58   -   -
179  Away     Piyaphon     Pass    15    24  57  64  73  54
180  Away       Sulaka     Pass    15    24  73  60  62  50
181  Away     Peeradon     Pass    15    24  64  51  68  20

[182 rows x 9 columns]

In [36]:
dataHome = data[data['Team'] == 'Home' ]
dataAway = data[data['Team'] == 'Away' ]

In [37]:
dataHome

     Team       Player    Event  Mins  Secs   X   Y  X2  Y2
0    Home      Heberty     Pass     0     2  54  51  57  90
1    Home           Do     Pass     0     2  57  90  33  83
2    Home    Putthinan     Pass     0     2  33  81  11  60
3    Home  Falkesgaard     Pass     0     2  10  59  11  86
4    Home    Putthinan     Pass     0     2  24  86  28  68
..    ...          ...      ...   ...   ...  ..  ..  ..  ..
170  Home      Everton  Through    14    34  55  17  83  15
171  Home       Vander     foul    14    34  97  11   -   -
173  Home      Everton    clear    15    24  43  26   -   -
174  Home      Heberty     Pass    15    24  58  38  52  32
177  Home    Putthinan     Pass    15    24  40  46  54  58

[103 rows x 9 columns]

In [38]:
 dataHomeShot = dataHome[(dataHome['Event'] == 'ShotOnTarget') |  (dataHome['Event'] == 'ShotOffTarget') |
                         (dataHome['Event'] == 'ShotGetGoal') | (dataHome['Event'] == 'ShotBlock')]

In [39]:
 dataHomeShot

     Team    Player         Event  Mins  Secs   X   Y X2 Y2
102  Home    Vander     ShotBlock     8    18  88  34  -  -
104  Home  Thitipan  ShotOnTarget     8    18  92  57  -  -

In [40]:
dataAwayShot = dataAway[(dataAway['Event'] == 'ShotOnTarget') |  (dataAway['Event'] == 'ShotOffTarget') |
                        (dataAway['Event'] == 'ShotGetGoal') | (dataAway['Event'] == 'ShotBlock')]

In [41]:
dataAwayShot

Empty DataFrame
Columns: [Team, Player, Event, Mins, Secs, X, Y, X2, Y2]
Index: []

In [42]:
dataHomePass = dataHome[(dataHome['Event'] == 'Pass') |  (dataHome['Event'] == 'Through') |
                         (dataHome['Event'] == 'go') | (dataHome['Event'] == 'Cross')]

In [43]:
dataHomePass = dataHomePass.reset_index()

In [44]:
dataHomePass

    index  Team       Player    Event  Mins  Secs   X   Y  X2  Y2
0       0  Home      Heberty     Pass     0     2  54  51  57  90
1       1  Home           Do     Pass     0     2  57  90  33  83
2       2  Home    Putthinan     Pass     0     2  33  81  11  60
3       3  Home  Falkesgaard     Pass     0     2  10  59  11  86
4       4  Home    Putthinan     Pass     0     2  24  86  28  68
..    ...   ...          ...      ...   ...   ...  ..  ..  ..  ..
78    168  Home           Do     Pass    14    34  57  68  45  50
79    169  Home         Bihr     Pass    14    34  44  49  48  25
80    170  Home      Everton  Through    14    34  55  17  83  15
81    174  Home      Heberty     Pass    15    24  58  38  52  32
82    177  Home    Putthinan     Pass    15    24  40  46  54  58

[83 rows x 10 columns]

In [45]:
dataAwayPass = dataAway[(dataAway['Event'] == 'Pass') |  (dataAway['Event'] == 'Through') |
                         (dataAway['Event'] == 'go') | (dataAway['Event'] == 'Cross')]

In [46]:
dataAwayPass = dataAwayPass.reset_index()

In [47]:
dataAwayPass

    index  Team       Player    Event  Mins  Secs   X   Y  X2  Y2
0      14  Away      Siwarak     Pass     1    28  90  56  82  49
1      15  Away        Digao     Pass     1    28  77  36  71  20
2      16  Away        Pansa     Pass     1    28  72  22  77  34
3      17  Away        Digao  Through     1    28  71  49  60  92
4      35  Away     Peeradon  Through     2     7  53  51  35  64
..    ...   ...          ...      ...   ...   ...  ..  ..  ..  ..
61    172  Away      Siwarak    Cross    15    24  97  11  43  26
62    176  Away  Rattanakorn     Pass    15    24  53  34  38  49
63    179  Away     Piyaphon     Pass    15    24  57  64  73  54
64    180  Away       Sulaka     Pass    15    24  73  60  62  50
65    181  Away     Peeradon     Pass    15    24  64  51  68  20

[66 rows x 10 columns]

In [48]:
dataAwayDef= dataAway[(dataAway['Event'] == 'clear') |  (dataAway['Event'] == 'intercept') |
                         (dataAway['Event'] == 'getball') | (dataAway['Event'] == 'block')|
                      (dataAway['Event'] == 'yellow')| (dataAway['Event'] == 'foul')]

In [50]:
dataAwayDef = dataAwayDef.reset_index()
dataAwayDef

    index  Team       Player      Event  Mins  Secs   X   Y X2 Y2
0      12  Away       Sulaka  intercept     0     2  59  93  -  -
1      18  Away     Piyaphon  intercept     1    28  57  87  -  -
2      24  Away     Supachai    getball     1    28  56  80  -  -
3      39  Away  Rattanakorn    getball     3    36  55  15  -  -
4      62  Away       Sulaka    getball     4    14  74  24  -  -
5      92  Away     Piyaphon    getball     7    22  67  90  -  -
6     103  Away        Pansa      block     8    18  91  40  -  -
7     105  Away        Digao      clear     8    18  91  37  -  -
8     123  Away         Rosa       foul    11     3   4  14  -  -
9     128  Away       Sulaka    getball    12    32  85  80  -  -
10    139  Away  Rattanakorn    getball    12    32  55  23  -  -
11    175  Away  Rattanakorn    getball    15    24  53  34  -  -
12    178  Away     Piyaphon    getball    15    24  56  58  -  -

In [51]:
dataHomeDef= dataHome[(dataHome['Event'] == 'clear') |  (dataHome['Event'] == 'intercept') |
                         (dataHome['Event'] == 'getball') | (dataHome['Event'] == 'block')|
                      (dataHome['Event'] == 'yellow')| (dataHome['Event'] == 'foul')]

In [52]:
dataHomeDef = dataHomeDef.reset_index()
dataHomeDef

    index  Team     Player      Event  Mins  Secs   X   Y X2 Y2
0      25  Home   Thitipan  intercept     2    12  55  92  -  -
1      26  Home       Bihr      clear     2    12  19  68  -  -
2      36  Home    Wisarut  intercept     2     7  28  52  -  -
3      50  Home    Everton      clear     3    36  30  45  -  -
4      73  Home    Everton     yellow     4    14  29   7  -  -
5      75  Home  Putthinan      clear     4    14  11  59  -  -
6      77  Home   Peerapat      clear     4    14  10  38  -  -
7      83  Home   Peerapat    getball     7    22  25  32  -  -
8     100  Home    Heberty    getball     8    18  66  46  -  -
9     115  Home       Bihr      clear     9    13  17  28  -  -
10    116  Home    Everton  intercept     9    13  24   8  -  -
11    117  Home    Pokklaw      clear     9    13  29  10  -  -
12    119  Home       Bihr      clear     9    13   2  35  -  -
13    121  Home   Thitipan  intercept    11     3   6  37  -  -
14    122  Home    Heberty    getball    11     3   3  31  -  -
15    165  Home    Everton  intercept    14    34  40  13  -  -
16    171  Home     Vander       foul    14    34  97  11  -  -
17    173  Home    Everton      clear    15    24  43  26  -  -